<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
         <li>
            <a href="/bill-find/">1. Открыть/создать счет игрока.</a>
        </li>
        <li>
            <a href="/bill-data/">2. Сумма на счете. История счета.</a>
        </li>
                <li>
            <a href="/bill-add/">3. Пополнить счет.</a>
        </li>
        <li>
            <a href="/play/">4. Играть.</a>
        </li>
    </ul>

    <h2>Игра "Камень, ножницы, бумага".</h2>
    <hr>
    <p>
        Игра "Камень, ножницы, бумага" с компьютером. <br>
        Выберите одно из трех - камень, ножницы или бумагу.<br> 
        Компьютер выбирает случайно из тех же вариантов. <br>
        Камень побеждает ножницы, ножницы побеждают бумагу, бумага побеждает камень.<br>
        Минимальная ставка - {{min}} единиц.<br>
        Удачи!
    </p>

</body>
</html>