<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результат</title>
</head>
<body>
    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
         <li>
            <a href="/bill-find/">1. Открыть/создать счет игрока.</a>
        </li>
        <li>
            <a href="/bill-data/">2. Сумма на счете. История счета.</a>
        </li>
                <li>
            <a href="/bill-add/">3. Пополнить счет.</a>
        </li>
                <li>
            <a href="/play/">4. Играть.</a>
        </li>
    </ul>
    <h4>Игра невозможна. Недостаточно средств. Пополните счет.</h4>
</body>
</html>